[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "home/.vim"]
	path = home/.vim
	url = https://github.com/jethrodaniel/.vim.git
