[submodule "home/.vim"]
	path = home/.vim
	url = https://github.com/jethrodaniel/.vim.git
[submodule "home/.tmux"]
	path = home/.tmux
	url = https://github.com/jethrodaniel/.tmux.git
[submodule "home/.config/i3/i3lock-multimonitor"]
	path = home/.config/i3/i3lock-multimonitor
	url = https://github.com/shikherverma/i3lock-multimonitor.git
[submodule ".git-hooks"]
	path = .git-hooks
	url = https://github.com/jethrodaniel/.git-hooks
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "rbenv/.rbenv/plugins/ruby-build"]
	path = rbenv/.rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "rbenv_plugins/.rbenv/plugins/ruby-build"]
	path = rbenv_plugins/.rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "home/.config/mutt/themes/dracula"]
	path = home/.config/mutt/themes/dracula
	url = https://github.com/dracula/mutt.git
[submodule "home/.config/git/src"]
	path = home/.config/git/src
	url = https://github.com/git/git
[submodule "home/code/ruby/brightness"]
	path = home/code/ruby/brightness
	url = https://github.com/jethrodaniel/brightness
