[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "home/.vim"]
	path = home/.vim
	url = https://github.com/jethrodaniel/.vim.git
[submodule "home/.tmux"]
	path = home/.tmux
	url = https://github.com/jethrodaniel/.tmux.git
